#contact_us {
  @media (min-width: 576px) {
    form {
      margin-top: 80px;
    }
  }
  .two-cols {
    .form-group {
      width: 435px;
      .form-control {
        height: 60px;
        width: 435px;
      }
    }
    @media (max-width: 576px) {
      .form-group {
        width: 100%;
        .form-control {
          width: 100%;
        }
      }
    }
  }
  .form-control {
    @include placeholder("12px", $gray-lighter);
    border-radius: 4px;
    background-color: $gray-dark;
    color: $base;
    font-weight: 500;
  }
  button {
    &:hover {
      cursor: pointer;
    }
  }

}