// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include serif-font;
  background-color: $theme-background;
}

hr {
  border-width: 3px;
  border-color: $theme-primary;
}

hr.light {
  border-color: white;
}

a {
  color: $theme-primary;
  font-size: 16px;
  line-height: 19px;
  @include transition-all;
  &:focus,
  &:hover {
    color: darken($theme-primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include serif-font;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary !important;
}

.bg-dark {
  color: white;
  background-color: $gray-darker !important;
}

.text-faded {
  color: fade-out(white, .3);
}

section {
  padding: 100px 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: white;
  background: $gray-darker;
  text-shadow: none;
}

::selection {
  color: white;
  background: $gray-darker;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-darker;
}

.section-head {
  font-size: 52px;
  line-height: 68px;
  font-weight: $fontWeightBold;
  color: $base;
  &.color-red {
    color: $theme-primary;
  }
}
.page-header {
  font-size: 44px;
  line-height: 54px;
  font-weight: $fontWeightBold;
  color: $base;
  margin-top: 10px;
  &.color-red {
    color: $theme-primary;
  }
}
.page-description {
  font-size: 18px;
  line-height: 28px;
  color: $gray-lighter;
  margin-top: 14px;
}
.section-subhead {
  font-size: 18px;
  line-height: 28px;
  color: $base;
}
.text-red {
  color: $theme-primary;
}
.btn-danger {
  background: url('../images/arrowwhite.png') no-repeat $theme-primary 80% center;
  padding: 14px 58px 14px 42px;
}

section.content {
  padding-top: 10px;
}
#breadcrumb {
  padding-top: 150px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: $gray-lighter;
  .arrow {
    padding: 0 10px;
  }
  a {
    font-size: 12px;
    line-height: 15px;
  }
}
.tooltip.show {
  opacity: 1;
  .tooltip-inner {
    max-width: 280px;
    padding: 20px;

    h1 {
      color: $gray-base;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
    }
    p {
      color: $gray-dark;
    }
    color: $gray-base;

    background-color: $base;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff;
  }
}
