#judges {
  padding-top: 0;
  .judge {
    margin-top: 60px;
    padding-bottom: 12px;
    @media (min-width: 992px) {
      .right-col {
        padding-left: 68px;
      }
    }
    img {
      max-width: 100%;
    }
    .name {
      color: $theme-primary;
      font-size: 36px;
      line-height: 44px;
    }
    .info {
      margin-top: 10px;
      font-size: 18px;
      line-height: 28px;
      color: $base;
    }
    .description {
      margin-top: 30px;
      font-size: 14px;
      line-height: 24px;
    }
    .social {
      margin-top: 30px;
      li {
        margin-right: 18px;
      }
      a {
        display: inline-block;
        width: 20px;
        height: 16px;
        &.facebook {
          background: url("lights_facebook.png") no-repeat transparent left center;
          &:hover {
            background-image: url("lights_facebook_active.png");
          }
        }
        &.vimeo {
          background: url("lights_vimeo.png") no-repeat transparent left center;
          &:hover {
            background-image: url("lights_vimeo_active.png");
          }
        }
        &.twitter {
          background: url("lights_twitter.png") no-repeat transparent left center;
          &:hover {
            background-image: url("lights_twitter_active.png");
          }
        }
        &.instagram {
          background: url("lights_instagram.png") no-repeat transparent left center;
          &:hover {
            background-image: url("lights_instagram_active.png");
          }
        }
      }
    }
  }
}