// Styling for the navbar
#mainNav {

  border-color: fade-out($gray-darker, .95);
  
  background-color: rgba(85, 85, 85, 0.3);;
  @media (max-width: 576px) {
    background-color: $gray-darker;
  }
  @include serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    color: $theme-primary;
    @include serif-font;
    &:focus,
    &:hover {
      color: darken($theme-primary, .1);
    }
  }
  .navbar-toggle {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-base;
  }
  
  .navbar-nav {
    > li.nav-item {
      @media (max-width: 576px) {
        text-align: center;
        padding: 1.5rem;
        border-bottom: 2px solid $gray-light;
        &:last-child {
          border-bottom: none;
        }
      }

      > a.nav-link:focus,
      > a.nav-link {
        padding: 0 0 0 2.375rem;
        font-size: 0.84rem; // 0.8rem
        line-height: 1.125rem;
        color: $base;
        @media (max-width: 576px) {
          padding: 0.3rem;
          font-size: 1.5rem;
          line-height: 2rem;
        }
        &:hover {
          color:  $theme-primary;
        }
        &.active {
          color: $theme-primary !important;
          text-transform: none;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}
footer {
  margin-top: 1.56rem;
  .navbar {
    padding-left: 0;
    padding-right: 0;
    @media (max-width: 576px) {
      .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
      }
      .social-links {
        .social-link {
          width: 45%;
          padding-left: 0;
        }
      }
    }
    .nav-link {
      color: $gray-lighter;
      font-size: 0.75rem;
      line-height: 0.9rem;
      padding-left: 0;
      padding-right: 1.68rem;
      &:hover {
        color: $theme-primary;
      }
      &.active {
        color: $theme-primary !important;
      }
    }
  }
  .social-link {
    padding-left: 36px;
    padding-right: 0;
    a {
      padding-left: 28px;
      color: $gray-lighter;
      font-size: 12px;
      line-height: 15px;
      &.facebook {
        background: url("lights_facebook.png") no-repeat transparent left center;
        &:hover {
          background-image: url("lights_facebook_active.png");
        }
      }
      &.instagram {
        background: url("lights_instagram.png") no-repeat transparent left center;
        &:hover {
          background-image: url("lights_instagram_active.png");
        }
      }
      &.youtube {
        background: url("lights_youtube.png") no-repeat transparent left center;
        &:hover {
          background-image: url("lights_youtube_active.png");
        }
      }
      &.twitter {
        background: url("lights_twitter.png") no-repeat transparent left center;
        &:hover {
          background-image: url("lights_twitter_active.png");
        }
      }
      &:hover {
        color:  $theme-primary;
      }
      
    }
    
  }
  .feedback {
    font-size: 11px;
    line-height: 14px;
    margin-top: 12px;
    color: $gray-light;
    a {
      font-size: 11px;
    }
  }
  .copy {
    border-top: 1px solid $gray-light;
    font-size: 11px;
    line-height: 14px;
    margin-top: 10px;
    padding-top: 10px;
    color: $gray-light;
  }
}
  
