#prizes {
  padding-bottom: 70px;
  .prizes {
    margin-top: 62px;
    > div{
      margin-bottom: 28px;
    }
    .prize {
      margin-bottom: 30px;
      width: 245px;
      height: 282px;
      @media (max-width: 576px) {
        width: 100%;
      }
      background-color: $gray-darker;

      border-radius: 4px;
      .image {
        margin-top: 44px;
      }
      .prize-line {
        margin-top: 29px;
        font-size: 0.875rem;
        line-height: 1rem;

        .first {
          width: 30%;
          padding-left: 0;
          padding-right: 8px;
        }
        .content {
          
          width: 20%;
          padding: 0;
          color: $theme-primary;
          font-size: 0.875rem;
          line-height: 1rem;
          text-align: center;
        }
        .last {
          width: 30%;
          padding-right: 0;
          padding-left: 8px;
        }

      }
      .prize-details {
        margin-top: 16px;
        a {
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: $base;
          &:hover {
            text-decoration: none;
            color: $theme-primary;
          }
        }
      }
      &.empty {
        background-color: transparent;
        @media (max-width: 576px) {
          display: none;
        }

      }
      .category {
        margin-top: 20px;
        font-size: 1.375rem;
        line-height: 1.875rem;
        color: $base;
        font-weight: 500;
      }
      hr {
        margin-top: 0.5rem;
        border-width: 2px;
        margin-bottom: 0;
      }
      .img {
      }
    }
  }
}

