#page_sponsors {
  .page-header {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .sponsor {
    width: 500px;
    margin-bottom: 62px;
    .image {
      border-radius: 4px;
      background-color: $gray-darker;
      height: 220px;
      text-align: center;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
    .name {
      color: $theme-primary;
      font-size: 32px;
      line-height: 39px;
      font-weight: 500;
      margin-top: 20px;
    }
    .description {
      color: $base;
      font-size: 14px;
      line-height: 24px;
    }
    .link {
      margin-top: 30px;
    }
  }
}