#toc {
  ol {
    padding-left: 14px;
    margin-top: 80px;
    li {
      padding-left: 14px;
      color: $base;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
      ol {
        margin-top:26px;
        padding-left: 14px;
        li {
          list-style-position: inside;
          padding-bottom: 10px;
          margin-bottom: 14px;
          
        }
      }
      
    }
  }
}