extends ../layouts/default
append body
  +breadcrumb("Judges")
  section#judges.content
    .container
      .row
        .col-sm-12.page-header Meet our judges

      .row.judge
        .col-lg-4.col-sm-12
          img(src="images/judges/coolman1.png")
        .col-lg-8.col-sm-12.right-col
          .row
            .col-sm-12.name Ted Sim
          .row
            .col-sm-12.info From the A-Team | Aputure
          .row
            .col-sm-12.description Aputure was founded by a team of inspired filmmakers who wanted to create high-quality content, but struggled with steep cost of equipment needed to do so. Determined to create professional-grade equipment at a reasonable price, they started Aputure: the first company to provide truly affordable camera accessories with the quality and functions needed to fully realize any creative vision. As a part of the creative community, the A-Team continues to develop for the ever-expanding needs of budding artists and professionals alike. Each member of our team has felt the burning desire to bring a creative vision to life at all costs. We're here to keep that fire alive.
          .row.social
            .col-sm-12
              ul.list-inline
                li.list-inline-item
                  a(class="facebook" href="https://www.facebook.com/Aputure/")
                li.list-inline-item
                  a(class="vimeo" href="https://www.youtube.com/user/aputurephoto")
                li.list-inline-item
                  a(class="twitter" href="https://twitter.com/aputuretech")
                li.list-inline-item
                  a(class="instagram" href="https://www.instagram.com/aputuretech/")
                
      .row.judge
        .col-lg-4.col-sm-12
          img(src="images/judges/coolman2.png")
        .col-lg-8.col-sm-12.right-col
          .row
            .col-sm-12.name Brian L. Tan "BLT"
          .row
            .col-sm-12.info Filmmaker | Wrapal-holic
          .row
            .col-sm-12.description Co-founder of Lights on Location, BLT used to live a double life; working on features such as Tron: Legacy, X-Men First Class, and Girl with the Dragon Tattoo by day while creating his own content by night. Ever since he left the studio system, he's had some successes, including nationally broadcast commercials, winning Cond? Nast's top video award, being a finalist on HBO's Project Greenlight, and launching a startup, #[a(href="https://www.wrapal.com" target="blank") Wrapal] that connects properties to filmmakers for free. On top of making movies, he is addicted to travel, diving, long walks by the beach, and talking about himself in third person on a bio he totally did not write.
          .row.social
            .col-sm-12
              ul.list-inline
                li.list-inline-item
                  a(class="facebook" href="https://www.facebook.com/Aputure/")
                li.list-inline-item
                  a(class="vimeo" href="https://www.youtube.com/user/aputurephoto")
                li.list-inline-item
                  a(class="twitter" href="https://twitter.com/aputuretech")
                li.list-inline-item
                  a(class="instagram" href="https://www.instagram.com/aputuretech/")

      .row.judge
        .col-lg-4.col-sm-12
          img(src="images/judges/coolman3.png")
        .col-lg-8.col-sm-12.right-col
          .row
            .col-sm-12.name Ryan Connolly
          .row
            .col-sm-12.info Filmmaker | Film Riot 
          .row
            .col-sm-12.description After film school, Ryan started out with music videos and commercials for local clients. He then went on to run the video studio at Alienware. But rather than follow the typical path of other aspiring filmmakers, Connolly created #[a(href="http://www.filmriot.com" target="blank") Film Riot], an online show that enabled him to share how-to filmmaking tips, get feedback for his work, and build his viewership. Since then, he has built a loyal following of over half a million people and his company Triune Films continues to produce weekly online videos like Film Riot and Variant as well as short films such as TELL, LOSSES and PROXiMITY.
          .row.social
            .col-sm-12
              ul.list-inline
                li.list-inline-item
                  a(class="facebook" href="https://www.facebook.com/Aputure/")
                li.list-inline-item
                  a(class="vimeo" href="https://www.youtube.com/user/aputurephoto")
                li.list-inline-item
                  a(class="twitter" href="https://twitter.com/aputuretech")
                li.list-inline-item
                  a(class="instagram" href="https://www.instagram.com/aputuretech/")    