extends ../layouts/default
append body
  +breadcrumb("Judges")
  section#judges.content
    .container
      .row
        .col-sm-12.page-header Meet our judges

      .row.judge 
        .col-sm-4
          img(src="images/judges/coolman1.png")
        .col-sm-8
          .row
            .col.sm-12.name Ted Sim
          .row
            .col.sm-12.info From the A-Team | Aputure
               