extends ../layouts/default
append body
  +breadcrumb("Prizes")
  section#prizes.content
    .container
      .row
        .col-sm-12.page-header With great films come great prizes
      .row
        .col-sm-12.page-description These categories and awards are up for grabs:
      
      .row.prizes
        .col-sm-12.d-flex.justify-content-between
          .prize
            .row.image.justify-content-center
              img(src="images/prizes/bestlighting.png" alt="Best Lighting")
            .row.category.justify-content-center
              .col-10.text-center Best Lighting
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize
            .row.image.justify-content-center
              img(src="images/prizes/bestlocation.png" alt="Best Location")
            .row.category.justify-content-center
              .col-10.text-center Best Location
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize
            .row.image.justify-content-center
              img(src="images/prizes/best_picture.png" alt="Best Picture")
            .row.category.justify-content-center
              .col-10.text-center Best Picture
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize
            .row.image.justify-content-center
              img(src="images/prizes/best_acting.png" alt="Best Acting")
            .row.category.justify-content-center
              .col-10.text-center Best Acting
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

        .col-sm-12.d-flex.justify-content-between
          .prize
            .row.image.justify-content-center
              img(src="images/prizes/bestbehind.png" alt="Best Behind the Scenes")
            .row.category.justify-content-center
              .col-10.text-center Best Behind the Scenes
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize
            .row.image.justify-content-center
              img(src="images/prizes/bestfemale.png" alt="Best Female Filmmaker")
            .row.category.justify-content-center
              .col-10.text-center Best Female Filmmaker
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize
            .row.image.justify-content-center
              img(src="images/prizes/bestviewers.png" alt="Viewer's Choice Awards")
            .row.category.justify-content-center
              .col-10.text-center Viewer's Choice Awards
            .row.prize-line.justify-content-center
              .col-sm-3.first
                hr
              .col-sm-2.content Prize:
              .col-sm-3.last
                hr
            .row.justify-content-center.prize-details
              .col-10.text-center
                a(href="#" data-toggle="tooltip" data-html="true" title="<h1>Aputure Lighting Kit (TBD)</h1><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>") 1 x Aputure Lighting Kit (TBD) 

          .prize.empty &nbsp;
            
                  