extends ../layouts/default
append body
  +breadcrumb("Sponsors")
  section#page_sponsors.content
    .container
      .row
        .col-sm-12
          h1.page-header Our Sponsors
        .col-sm-12.d-flex.justify-content-between.flex-wrap.flex-sm-column.flex-lg-row
          .sponsor
            .image
              img(src="images/sponsors/redgiant.png" alt="Red Giant")
            .row
              .col-sm-12
                h2.name Red Giant
            .row
              .col-sm-12.description Red Giant makes tools, films and training to enrich the wider community of filmmakers and motion designers. For its own award-winning short films, the company creates new software to meet its needs, and then makes those products available for everyone else, helping artists create the perfect look that matches their story.
            .row
              .col-sm-12.link
                a(href="http://www.redgiant.com/" target="blank") Visit Red Giant #[span.arrow-red &nbsp;]
                
          .sponsor
            .image
              img(src="images/sponsors/paralinx.png" alt="Paralinx")
            .row
              .col-sm-12
                h2.name Paralinx
            .row
              .col-sm-12.description Paralinx offers professional and affordable wireless HD video transmitting solutions for use with all cameras and monitors. Paralinx provides tools to help cinematographers and directors make films without the burden of wires dragging all over set.
            .row
              .col-sm-12.link
                a(href="https://www.paralinx.net/" target="blank") Visit Paralinx #[span.arrow-red &nbsp;]

          .sponsor
            .image
              img(src="images/sponsors/kesslercrane.png" alt="Kessler Crane")
            .row
              .col-sm-12
                h2.name Kessler Crane
            .row
              .col-sm-12.description Kessler Crane is an industry leading manufacturer of innovative tools for filmmakers including: camera cranes, jibs, motion control systems, sliders, dollies, tripods, heads and camera grip accessories with a commitment to making products in the USA.
            .row
              .col-sm-12.link
                a(href="http://www.kesslercrane.com/" target="blank") Visit Kessler Crane #[span.arrow-red &nbsp;]

          .sponsor
            .image
              img(src="images/sponsors/miller.png" alt="Miller")
            .row
              .col-sm-12
                h2.name Miller
            .row
              .col-sm-12.description Miller Camera Support has been designing and manufacturing professional fluid pan/tilt heads and tripods since 1954. As the holder of the world's first patent (1946) for fluid pan/tilt heads Miller continues to be a leader and innovator in professional camera support. Miller products have been used continually by the world's leading camera operators, cinematographers and event videographers. 
            .row
              .col-sm-12.link
                a(href="https://www.millertripods.com/" target="blank") Visit Miller #[span.arrow-red &nbsp;]



