extends ../layouts/default

append body
  +breadcrumb("Terms & Conditions")
  section#toc.content
    .container
      .row
        .col-sm-7.sub-head Terms & Conditions:#[br]#[span.text-red Lights on Location 2017]
      .row
        .col-md-8.col-sm-12
          ol(type=1)
            li Instructions on how to enter the Competition and details regarding the Competition contained herein form part of these Terms and Conditions. Entry into and participation in this Competition is deemed acceptance of these Terms and Conditions. This Competition is not valid in conjunction with any other offer, competition or promotion.
            li The Competition is free to enter and open to any person.
            li Minors (anyone under 18) are entitled to enter the Competition, provided they have the consent of a parent or guardian to enter and participate in the Competition, and provide that parent or guardian's details should they be awarded a prize.
            li The Competition commences at 12.00 midday PST on 15 September 2017 ("the Commencement Date") and closes at 11:59 nearly midnight PST 15 November 2017 (the "Closing Date"). The period between the Commencement Date and the Closing Date shall be the Competition entry period (the "Competition Entry Period").
            li To participate in the Competition, Entrants must write, create, record and edit in the following original films:
              ol(type=1)
                li Short Film: 1 minute video featuring one location and one light, about any topic.
                li Behind the Scenes: Broadcast a Facebook Live Behind the Scenes video of at least one minute in length and tag #LightsOnLocation and companies @Aputure and @Wrapal.
            li The Short Film and the BTS Film must be the original work of the Entrant, the Short Film and BTS Film must not have been entered previously in any other competition, and the Entrant must own the whole of the copyright in the Short Film and the BTS Film. In circumstances where the Short Film and BTS Film or parts thereof are derived from or contain images, sounds or material from an existing work, the Entrants must have obtained written copyright clearance from the owner of that existing work for the use of that existing work which must be produced to Lights on Location on demand. In circumstances where the Short Film and BTS Film or parts thereof contain images of persons, locations, marks, trademarks and any other images which would require permission for their use, the Entrants must have received appropriate written releases for their use which must be produced to Lights on Location on demand.
            li The Entrant shall indemnify Lights on Location of any and all liability arising from any infringement of any rights whatsoever that may arise in respect of the Short Film and/or the BTS Film, and Lights on Location reserves the right to disqualify any Entrant who does not comply with the conditions set out in this clause.
            li The Short Film and BTS Film must not defame any person or entity, or be disparaging to any religion, race, or nation, or contain language that is lewd, obscene or inappropriate, or use any copyrights, images, marks, trademarks or logos that the Entrant has not obtained permission for their use.
            li Lights on Location reserves the right to disqualify any Entrant who does not comply with the conditions of the competition at its discretion.
            li The Entrant shall be the one individual most responsible for the creation, filming, producing and editing of the Short Film and the BTS Film.
            li To enter the Competition, after the Commencement Date and prior to the Closing Date, the Entrants must submit their video via Facebook and accept the terms and conditions of said submissions.
            li If the entry is accepted by Lights on Location for an award, the Entrant shall receive a confirmation email of the acceptance of their entry. Entries not accepted may not get notified directly but may ascertain the status of their entry by contacting Lights on Location after December 15 2017.
            li Lights on Location will not accept any entries made outside the Entry Period.
            li By entering the Competition, Entrants acknowledge, agree and declare that they are aware that their participation is entirely at their own risk and that they hereby waive, surrender and relinquish in favour of Lights On Location all claims of any nature and howsoever arising (including as a result of negligence) which but for this waiver, surrender and relinquishment they may or otherwise have against Lights On Location either directly or indirectly arising out of their participation in the Competition.
            li By entering the Competition, Entrants hereby warrant that all information submitted is true, current and complete. Any Entrants who have supplied incomplete, inaccurate or fraudulent information may be automatically disqualified. Failure by Lights On Location to enforce any of its rights at any stage of the Competition does not constitute a waiver of those rights.
            li Incomplete, indecipherable or illegible entries will be deemed invalid. Entrants bear all responsibility to ensure that their entry is complete and legible, and that their Short Film and BTS Film is submitted in the correct format and clearly visible and audible.
            li Entrants are entitled to submit an unlimited number or entries, provided that each entry must comply with the entry provisions.
            li The costs of entering the Competition shall be borne solely by the Entrants
            li The Entrants shall grant to Lights on Location, it's successors, sponsors, and affiliated individuals and companies a nonexclusive, irrevocable license to publish their Short Film and BTS Film in full online or in any viewing medium anywhere in the world world, and in full or in part in any other promotional material for the purposes of the Competition.
            li The winner of the Judges' Choice Category shall be determined as follows:
              ol(type=1)
                li A judging panel of industry experts shall be appointed by Lights on Location in its sole discretion;
                li After the Closing Date, Lights on Location shall determine a shortlist of the best Short Films;
                li The judging panel shall view the Short Films on the shortlist determined by Lights on Location;
                li The judging panel shall determine the winner of this category in the judging panel's sole discretion;
                li The judging shall be based only on the subjective personal opinions of the judging panel and shall be final;
                li Lights on Location accepts no liability for the decisions made by the judging panel, and no correspondence will be entered into in this regard;
                li Lights on Location shall announce the winner of this category within forty eight hours of the determination of the winner on its website, Facebook,
                li Twitter and Instagram accounts and by email to the winner; and The winner shall be entitled to receive the Judges' Choice Category Prize.
            li Lights on Location reserves the right to award further Prizes or Prize Packs to winners, or to alter the content of any Prize in whole or in part at any time, whether by adding or removing Prizes. Any changes in the Prizes or the content of the Prize Packs shall be notified by Lights on Location from time to time as the case may be.
            li The Prizes won for the Competition, in full or in part, are non-transferable, non-	negotiable, non-refundable, are not redeemable for cash, and are subject to availability.
            li All Prizes won will be new and in their original packing with their applicable warranty. All electronic prizes will be in US specification by default.
            li Lights on Location shall make every effort to deliver the Prize Packs to their respective winners at each winner's address specified in the Competition Entry Form within six (6) weeks of the winner's announcement. Lights on Location shall not be liable for any delays in delivery of the Prize packs. All shipping costs for the Prize Packs to the winners' address shall be paid by Lights on Location. Any duty of other import costs for the Prize Packs shall be paid by the winners, and Lights on Location in its sole discretion may make payment of the duty or import costs on behalf of the winner.
            li Lights on Location shall not be liable for any tax payable on the value of a Prize, and any tax payable shall be borne by each winner, but Lights on Location in its sole discretion may make payment of any tax payable on behalf of a winner. Where required by law, Lights on Location shall inform the local taxation authorities of the Prizes received by the winners.
            li Each winner agrees to participate in reasonable post-competition publicity for Lights on Location and its sponsors, including but not limited to their attendance for interviews, photographs, videos and any other promotional activity specified by Lights on Location, and grant a nonexclusive, irrevocable licence to Lights on Location to use their name, biographical details, photographs, videos, likenesses and any other information regarding the winner indefinitely. 

