body,
html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0E0E0E; }

hr {
  border-width: 3px;
  border-color: #D02A38; }

hr.light {
  border-color: white; }

a {
  color: #D02A38;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #d02a38; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #D02A38 !important; }

.bg-dark {
  color: white;
  background-color: #1b1b1b !important; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: white;
  background: #1b1b1b;
  text-shadow: none; }

::selection {
  color: white;
  background: #1b1b1b;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #1b1b1b; }

.section-head {
  font-size: 3.25rem;
  line-height: 3.9rem;
  font-weight: 500;
  color: #fff; }
  .section-head.color-red {
    color: #D02A38; }

.sub-head {
  color: #fff;
  font-size: 3.25rem;
  line-height: 4.25rem;
  font-weight: 500; }

@media (min-width: 576px) {
  .embed-responsive iframe {
    padding-right: 15px;
    padding-left: 15px; } }

.page-header {
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  color: #fff;
  margin-top: 10px; }
  .page-header.color-red {
    color: #D02A38; }

@media (max-width: 576px) {
  .section-head {
    font-size: 2rem;
    line-height: 2.5rem; }
  .sub-head {
    font-size: 2rem;
    line-height: 2.5rem; }
  .page-header {
    font-size: 2rem;
    line-height: 2.5rem; } }

.page-description {
  font-size: 18px;
  line-height: 28px;
  color: #b5b5b5;
  margin-top: 14px; }

.section-subhead {
  font-size: 18px;
  line-height: 28px;
  color: #fff; }

.text-red {
  color: #D02A38; }

.btn-danger {
  background: url("../images/arrowwhite.png") no-repeat #D02A38 80% center;
  padding: 14px 58px 14px 42px; }

section.content {
  padding-top: 10px; }

#breadcrumb {
  padding-top: 150px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #D02A38; }
  #breadcrumb .arrow {
    padding: 0 10px; }
  #breadcrumb a {
    color: #b5b5b5;
    font-size: 12px;
    line-height: 15px; }
    #breadcrumb a:hover {
      color: #D02A38; }

.tooltip.show {
  opacity: 1; }
  .tooltip.show .tooltip-inner {
    max-width: 280px;
    padding: 20px;
    color: #000;
    background-color: #fff;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #fff; }
    .tooltip.show .tooltip-inner h1 {
      color: #000;
      text-align: center;
      font-size: 14px;
      line-height: 22px; }
    .tooltip.show .tooltip-inner p {
      color: #282828; }

.arrow-red {
  background: url("../images/buttonarrow.png") no-repeat transparent center center;
  display: inline-block;
  width: 20px; }

#mainNav {
  border-color: rgba(27, 27, 27, 0.05);
  background-color: rgba(85, 85, 85, 0.3);
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  @media (max-width: 576px) {
    #mainNav {
      background-color: #282828; } }
  #mainNav .navbar-brand {
    font-weight: 700;
    color: #D02A38;
    font-family: 'Montserrat', sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #d02a38; }
  #mainNav .navbar-toggle {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0 0 0 2.375rem;
    font-size: 0.84rem;
    line-height: 1.125rem;
    color: #fff; }
    @media (max-width: 576px) {
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
      #mainNav .navbar-nav > li.nav-item > a.nav-link {
        padding: 0.3rem;
        font-size: 1rem; } }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #D02A38; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #D02A38 !important;
      text-transform: none;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }

footer {
  margin-top: 1.56rem; }
  footer .navbar {
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 576px) {
      footer .navbar .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row; }
      footer .navbar .social-links .social-link {
        width: 45%;
        padding-left: 0; } }
    footer .navbar .nav-link {
      color: #b5b5b5;
      font-size: 0.75rem;
      line-height: 0.9rem;
      padding-left: 0;
      padding-right: 1.68rem; }
      footer .navbar .nav-link:hover {
        color: #D02A38; }
      footer .navbar .nav-link.active {
        color: #D02A38 !important; }
  footer .social-link {
    padding-left: 36px;
    padding-right: 0; }
    footer .social-link a {
      padding-left: 28px;
      color: #b5b5b5;
      font-size: 12px;
      line-height: 15px; }
      footer .social-link a.facebook {
        background: url("../images/social/facebook.png") no-repeat transparent left center; }
        footer .social-link a.facebook:hover {
          background-image: url("../images/social/facebook_active.png"); }
      footer .social-link a.instagram {
        background: url("../images/social/instagram.png") no-repeat transparent left center; }
        footer .social-link a.instagram:hover {
          background-image: url("../images/social/instagram_active.png"); }
      footer .social-link a.youtube {
        background: url("../images/social/youtube.png") no-repeat transparent left center; }
        footer .social-link a.youtube:hover {
          background-image: url("../images/social/youtube_active.png"); }
      footer .social-link a.twitter {
        background: url("../images/social/twitter.png") no-repeat transparent left center; }
        footer .social-link a.twitter:hover {
          background-image: url("../images/social/twitter_active.png"); }
      footer .social-link a:hover {
        color: #D02A38; }
  footer .feedback {
    font-size: 11px;
    line-height: 14px;
    margin-top: 12px;
    color: #666666; }
    footer .feedback a {
      font-size: 11px; }
  footer .copy {
    border-top: 1px solid #666666;
    font-size: 11px;
    line-height: 14px;
    margin-top: 10px;
    padding-top: 10px;
    color: #666666; }

#intro {
  padding: 0;
  width: 100%;
  min-height: 800px;
  position: relative;
  background: url(../images/photo_background.png) no-repeat top center;
  background-size: auto 100%; }
  @media (max-width: 576px) {
    #intro {
      padding-bottom: 24rem;
      background-position: 72% bottom;
      background-size: auto; } }
  #intro .main-banner
.sub-head {
    margin-top: 2rem; }
  #intro .red-title {
    margin-top: 11.6rem;
    color: #D02A38;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem; }
    @media (max-width: 576px) {
      #intro .red-title {
        margin-top: 5rem; } }
  #intro .submit-btn {
    margin-top: 3.85rem; }
    @media (max-width: 576px) {
      #intro .submit-btn {
        margin-top: 2rem; } }
    #intro .submit-btn button {
      cursor: pointer; }
      @media (max-width: 576px) {
        #intro .submit-btn button {
          display: block;
          width: 100%; } }

section#how-to-join {
  padding-top: 5.12rem; }
  section#how-to-join .steps {
    margin-top: 3.6rem; }
    section#how-to-join .steps .step {
      width: 320px; }
      @media (max-width: 576px) {
        section#how-to-join .steps .step {
          width: 100%; }
          section#how-to-join .steps .step img {
            width: 100%;
            height: auto; } }
    section#how-to-join .steps .title {
      color: #fff;
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 1.68rem;
      margin-top: 1.87rem; }
    section#how-to-join .steps .description {
      color: #b5b5b5;
      font-size: 1rem;
      line-height: 1.625rem;
      margin-top: 0.69rem; }

section#countdown {
  padding-top: 6.6rem;
  background: url(../images/circle.png) no-repeat 78% top; }
  section#countdown #js-countdown {
    margin-top: 3.75rem; }
    section#countdown #js-countdown .countdown-column {
      width: 11.56rem; }
      section#countdown #js-countdown .countdown-column .countdown-value {
        color: #D02A38;
        font-size: 9rem;
        font-weight: 500;
        line-height: 11rem;
        text-align: center; }
      @media (max-width: 576px) {
        section#countdown #js-countdown .countdown-column {
          width: 10rem; }
          section#countdown #js-countdown .countdown-column .countdown-value {
            font-size: 8rem;
            line-height: 11rem; } }
      section#countdown #js-countdown .countdown-column .countdown-label {
        border-top: 2px solid white;
        font-size: 1.37rem;
        line-height: 1.69rem;
        text-align: center;
        color: #fff;
        padding-top: 0.625rem; }

section#entry {
  padding-top: 5.12rem; }
  @media (max-width: 576px) {
    section#entry {
      padding-bottom: 1rem; } }

section#info {
  padding-top: 2rem;
  padding-bottom: 1.87rem; }
  section#info .content {
    background-color: #1A181B;
    margin-top: 2.2rem; }
    @media (min-width: 576px) {
      section#info .content .padding {
        padding-left: 1.87rem; }
      section#info .content .section-head {
        margin-top: -2rem;
        line-height: 4.5rem; } }
    section#info .content .description {
      margin-top: 0.5rem; }
    section#info .content .link {
      margin-top: 2.125rem; }
      section#info .content .link .arrow-red {
        background: url("../images/buttonarrow.png") no-repeat transparent center center;
        display: inline-block;
        width: 1.25rem; }
    section#info .content .image {
      height: 450px; }
      @media (max-width: 576px) {
        section#info .content .image {
          margin-left: -30px;
          margin-right: -30px; } }
      section#info .content .image .img {
        height: 450px;
        width: 100%; }
        section#info .content .image .img.img-prizes {
          background-size: contain !important;
          background: url("../images/prizes.png") no-repeat transparent left 4rem; }
        section#info .content .image .img.img-judges {
          background: url("../images/judges.png") no-repeat transparent left 10.8rem; }
    @media (max-width: 576px) {
      section#info .content {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px; }
        section#info .content .section-head {
          margin-top: 0; } }

section#join_contest {
  padding-top: 1.75rem;
  background: url(../images/joincontest_bg.png) no-repeat top center; }
  @media (max-width: 576px) {
    section#join_contest {
      background-position: -10rem center; } }
  @media (min-width: 576px) {
    section#join_contest .row {
      margin-left: 4.3%; } }
  @media (max-width: 576px) {
    section#join_contest .row .sub-head {
      font-size: 2rem;
      line-height: 2.5rem; }
    section#join_contest .row button {
      width: 100%;
      margin-top: 1.125rem; } }
  section#join_contest .sub-head {
    font-size: 2.75rem;
    line-height: 3.37rem; }
  section#join_contest button {
    margin-top: 1.125rem; }

section#behind-scenes {
  padding-top: 4.75rem; }
  section#behind-scenes .section-subhead {
    margin-top: 0.75rem; }
  section#behind-scenes .video {
    margin-top: 2.625rem; }

section#sponsors {
  padding-top: 2.5rem; }
  section#sponsors .sponsor {
    height: 6.125rem;
    width: 10rem;
    vertical-align: middle; }
    section#sponsors .sponsor img {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

.description {
  margin-top: 0.875rem;
  color: #b5b5b5;
  font-size: 1.125rem;
  line-height: 1.75rem; }

.modal-dialog {
  max-width: 820px; }
  .modal-dialog .modal-header {
    padding: 20px 20px 20px 90px; }
    @media (max-width: 576px) {
      .modal-dialog .modal-header {
        padding: 1rem; } }
    .modal-dialog .modal-header .close {
      font-size: 4.7rem;
      font-weight: 100;
      line-height: 1.5rem;
      cursor: pointer; }
    .modal-dialog .modal-header .header-part {
      font-size: 0.75rem;
      line-height: 1.25rem;
      padding-left: 2.5rem; }
      .modal-dialog .modal-header .header-part.begin {
        background: url(../images/begin_icon.png) no-repeat left center; }
      .modal-dialog .modal-header .header-part.ends {
        background: url(../images/ends_icon.png) no-repeat left center; }
      @media (max-width: 576px) {
        .modal-dialog .modal-header .header-part {
          font-size: 1rem; }
          .modal-dialog .modal-header .header-part.begin {
            margin-top: 2.5rem; }
          .modal-dialog .modal-header .header-part.button {
            margin-top: -7.5rem; } }
  .modal-dialog .modal-body {
    padding: 2rem 4.7rem 2rem 5.6rem; }
    @media (max-width: 576px) {
      .modal-dialog .modal-body {
        padding: 1rem; } }
    .modal-dialog .modal-body .header {
      font-size: 1.5rem;
      line-height: 1.625rem;
      margin-bottom: 1.375rem; }
    .modal-dialog .modal-body .step {
      width: 180px; }
      @media (max-width: 576px) {
        .modal-dialog .modal-body .step {
          width: 100%; }
          .modal-dialog .modal-body .step .description {
            margin-top: 0;
            margin-bottom: 2rem; } }
      .modal-dialog .modal-body .step .description {
        font-size: 0.75rem;
        line-height: 1.25rem; }
      .modal-dialog .modal-body .step img {
        max-width: 100%; }
  .modal-dialog .modal-footer {
    padding: 2rem 4rem;
    color: #1b1b1b;
    font-size: 0.875rem;
    line-height: 1.625rem; }
    @media (max-width: 576px) {
      .modal-dialog .modal-footer {
        padding: 1rem; } }
    .modal-dialog .modal-footer a {
      font-size: 0.875rem;
      line-height: 1.625rem; }
      .modal-dialog .modal-footer a.btn {
        padding: 1.25rem 4.625rem;
        margin-top: 1.25rem;
        text-transform: uppercase; }

@media (max-width: 576px) {
  #toc {
    padding-bottom: 1rem; } }

#toc ol {
  padding-left: 14px;
  margin-top: 80px; }
  #toc ol li {
    padding-left: 14px;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px; }
    #toc ol li ol {
      margin-top: 26px;
      padding-left: 14px; }
      #toc ol li ol li {
        list-style-position: inside;
        padding-bottom: 10px;
        margin-bottom: 14px; }

#prizes {
  padding-bottom: 70px; }
  #prizes .prizes {
    margin-top: 62px; }
    #prizes .prizes > div {
      margin-bottom: 28px; }
    #prizes .prizes .prize {
      margin-bottom: 30px;
      width: 245px;
      height: 282px;
      background-color: #1b1b1b;
      border-radius: 4px; }
      @media (max-width: 576px) {
        #prizes .prizes .prize {
          width: 100%; } }
      #prizes .prizes .prize .image {
        margin-top: 44px; }
      #prizes .prizes .prize .prize-line {
        margin-top: 29px;
        font-size: 0.875rem;
        line-height: 1rem; }
        #prizes .prizes .prize .prize-line .first {
          width: 30%;
          padding-left: 0;
          padding-right: 8px; }
        #prizes .prizes .prize .prize-line .content {
          width: 20%;
          padding: 0;
          color: #D02A38;
          font-size: 0.875rem;
          line-height: 1rem;
          text-align: center; }
        #prizes .prizes .prize .prize-line .last {
          width: 30%;
          padding-right: 0;
          padding-left: 8px; }
      #prizes .prizes .prize .prize-details {
        margin-top: 16px; }
        #prizes .prizes .prize .prize-details a {
          font-size: 1.125rem;
          line-height: 1.75rem;
          color: #fff; }
          #prizes .prizes .prize .prize-details a:hover {
            text-decoration: none;
            color: #D02A38; }
      #prizes .prizes .prize.empty {
        background-color: transparent; }
        @media (max-width: 576px) {
          #prizes .prizes .prize.empty {
            display: none; } }
      #prizes .prizes .prize .category {
        margin-top: 20px;
        font-size: 1.375rem;
        line-height: 1.875rem;
        color: #fff;
        font-weight: 500; }
      #prizes .prizes .prize hr {
        margin-top: 0.5rem;
        border-width: 2px;
        margin-bottom: 0; }

#judges {
  padding-top: 0; }
  #judges .judge {
    margin-top: 60px;
    padding-bottom: 12px; }
    @media (min-width: 992px) {
      #judges .judge .right-col {
        padding-left: 68px; } }
    #judges .judge img {
      max-width: 100%; }
    #judges .judge .name {
      color: #D02A38;
      font-size: 36px;
      line-height: 44px; }
    #judges .judge .info {
      margin-top: 10px;
      font-size: 18px;
      line-height: 28px;
      color: #fff; }
    #judges .judge .description {
      margin-top: 30px;
      font-size: 14px;
      line-height: 24px; }
    #judges .judge .social {
      margin-top: 30px; }
      #judges .judge .social li {
        margin-right: 18px; }
      #judges .judge .social a {
        display: inline-block;
        width: 20px;
        height: 16px; }
        #judges .judge .social a.facebook {
          background: url("../images/social/facebook.png") no-repeat transparent left center; }
          #judges .judge .social a.facebook:hover {
            background-image: url("../images/social/facebook_active.png"); }
        #judges .judge .social a.vimeo {
          background: url("../images/social/vimeo.png") no-repeat transparent left center; }
          #judges .judge .social a.vimeo:hover {
            background-image: url("../images/social/vimeo_active.png"); }
        #judges .judge .social a.twitter {
          background: url("../images/social/twitter.png") no-repeat transparent left center; }
          #judges .judge .social a.twitter:hover {
            background-image: url("../images/social/twitter_active.png"); }
        #judges .judge .social a.instagram {
          background: url("../images/social/instagram.png") no-repeat transparent left center; }
          #judges .judge .social a.instagram:hover {
            background-image: url("../images/social/instagram_active.png"); }

@media (max-width: 576px) {
  #page_sponsors {
    padding-bottom: 1rem; } }

#page_sponsors .page-header {
  margin-top: 0;
  margin-bottom: 60px; }

#page_sponsors .sponsor {
  margin-bottom: 62px; }
  @media (min-width: 576px) {
    #page_sponsors .sponsor {
      width: 500px; } }
  #page_sponsors .sponsor .image {
    border-radius: 4px;
    background-color: #1b1b1b;
    height: 220px;
    text-align: center; }
    #page_sponsors .sponsor .image img {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  #page_sponsors .sponsor .name {
    color: #D02A38;
    font-size: 32px;
    line-height: 39px;
    font-weight: 500;
    margin-top: 20px; }
  #page_sponsors .sponsor .description {
    color: #fff;
    font-size: 14px;
    line-height: 24px; }
  #page_sponsors .sponsor .link {
    margin-top: 30px; }

@media (min-width: 576px) {
  #contact_us form {
    margin-top: 80px; } }

#contact_us .two-cols .form-group {
  width: 435px; }
  #contact_us .two-cols .form-group .form-control {
    height: 60px;
    width: 435px; }

@media (max-width: 576px) {
  #contact_us .two-cols .form-group {
    width: 100%; }
    #contact_us .two-cols .form-group .form-control {
      width: 100%; } }

#contact_us .form-control {
  border-radius: 4px;
  background-color: #282828;
  color: #fff;
  font-weight: 500; }
  #contact_us .form-control::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: "12px";
    color: #b5b5b5; }
  #contact_us .form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: "12px";
    color: #b5b5b5; }
  #contact_us .form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: "12px";
    color: #b5b5b5; }
  #contact_us .form-control:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: "12px";
    color: #b5b5b5; }

#contact_us button:hover {
  cursor: pointer; }

#faq .card {
  margin-top: 20px;
  border-radius: 4px;
  background-color: #1b1b1b; }
  #faq .card .card-header {
    padding: 20px 0 20px 0;
    border: none; }
  #faq .card .card-header > a {
    color: #D02A38;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    background: url("../images/dropdown_active.png") no-repeat transparent 30px center; }
    #faq .card .card-header > a.collapsed {
      background-image: url("../images/dropdown.png");
      color: #fff; }
  #faq .card .card-block {
    color: #fff;
    padding-bottom: 20px; }
  #faq .card .card-block, #faq .card a[data-toggle="collapse"] {
    padding-left: 62px;
    padding-right: 130px;
    display: inline-block; }
    @media (max-width: 576px) {
      #faq .card .card-block, #faq .card a[data-toggle="collapse"] {
        padding-right: 0;
        padding-left: 2.5rem;
        background-position: 15px center; } }

.text-primary {
  color: #D02A38 !important; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.container {
  max-width: 1100px; }

.btn-default {
  color: #000;
  border-color: white;
  background-color: white; }
  .btn-default.focus, .btn-default:focus {
    color: #000;
    border-color: #bfbfbf;
    background-color: #e6e6e6; }
  .btn-default:hover {
    color: #000;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    color: #000;
    border-color: #e0e0e0;
    background-color: #e6e6e6; }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
    .open > .btn-default.dropdown-toggle.focus,
    .open > .btn-default.dropdown-toggle:focus,
    .open > .btn-default.dropdown-toggle:hover {
      color: #000;
      border-color: #bfbfbf;
      background-color: #d4d4d4; }
  .btn-default.active, .btn-default:active,
  .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default.focus,
  fieldset[disabled] .btn-default:focus,
  fieldset[disabled] .btn-default:hover {
    border-color: white;
    background-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #000; }

.btn-primary {
  color: white;
  border-color: #D02A38;
  background-color: #D02A38; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #66151b;
    background-color: #a6212d; }
  .btn-primary:hover {
    color: white;
    border-color: #9d202a;
    background-color: #a6212d; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #9d202a;
    background-color: #a6212d; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: #66151b;
      background-color: #881b25; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #D02A38;
    background-color: #D02A38; }
  .btn-primary .badge {
    color: #D02A38;
    background-color: white; }

.btn {
  font-weight: normal;
  font-size: 14px;
  border: none;
  font-family: 'Montserrat', sans-serif; }

.btn-xl {
  padding: 15px 30px; }
