include ../views/mixins
append styles
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(href="images/favicon.png" rel="shortcut icon"  type="image/png")
  link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
  // Custom styles for this template 
  link(href="css/main.css", rel="stylesheet")
  
body#page-top
  nav.navbar.navbar-expand-lg.navbar-dark.fixed-top#mainNav
    .container
      a(class="navbar-brand js-scroll-trigger", href="/")
        img(src="images/logo.png" alt="Lights en Location")
      button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarResponsive
        ul.navbar-nav.ml-auto
          li.nav-item
            a(class={active: page === "prizes"} class="nav-link" href="/prizes") Prizes 
          li.nav-item
            a(class={active: page === "faq"} class="nav-link" href="/faq") FAQ
          li.nav-item
            a(class={"active": page == "judges"} class="nav-link" href="/judges") Judges
          li.nav-item
            a(class={active: page === "sponsors"} class="nav-link" href="/sponsors") Sponsors
          li.nav-item
            a(class={active: page === "contacts"} class="nav-link" href="/contacts") Contact Us
          li.nav-item
            a(class={active: page === "toc"} class="nav-link" href="/toc") Terms & Conditions

  block navigation
  block body
footer
  .container
    .row
      .col-lg-6.col-sm-12
        nav.navbar.navbar-expand-sm
          ul.navbar-nav.mr-auto.flex-wrap
            li.nav-item
              a(class={active: page === "prizes"} class="nav-link" href="/prizes") Prizes
            li.nav-item
              a(class={active: page === "faq"} class="nav-link" href="/faq") FAQ
            li.nav-item
              a(class={active: page === "judges"} class="nav-link" href="/judges") Judges
            li.nav-item
              a(class={active: page === "sponsors"} class="nav-link" href="/sponsors") Sponsors
            li.nav-item
              a(class={active: page === "contacts"} class="nav-link" href="/contacts") Contact Us
            li.nav-item
              a(class={active: page === "toc"} class="nav-link" href="/toc") Terms & Conditions

      .col-lg-6.col-sm-12
        .navbar.navbar-expand-sm
          ul.navbar-nav.ml-auto.float-right.flex-wrap.social-links
            li.nav-item.social-link
              a(class="facebook" href="https://www.facebook.com/Aputure/") Facebook
            li.nav-item.social-link
              a(class="instagram" href="https://www.instagram.com/aputuretech/") Instagram
            li.nav-item.social-link
              a(class="youtube" href="https://www.youtube.com/user/aputurephoto") YouTube
            li.nav-item.social-link
              a(class="twitter" href="https://twitter.com/aputuretech") Twitter
    .row
      .col-sm-12.feedback Feedback on web experience? #[a(class="text-red" href="/contacts") Click here]
    .row
      .col-sm-12
        .copy Copyright &copy; 2008-2022 Aputure Imaging Industries Co. Ltd. All rights reserved.


append scripts
    script(src="../jquery/jquery.min.js" defer)
    script(src="../popper/popper.min.js" defer)
    script(src="../bootstrap/js/bootstrap.min.js" defer)
    script(src="../js/main.js" defer)
    link(href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700", rel="stylesheet", type='text/css')


block scripts


